*.py[cod]

# Swap files

.*sw[op]

# Data files
*.dat
RGZBETA2*txt

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# RGZ-specific

RGZ-full*
old/
python/pyIBCC
expert/expert100_comparison.csv
expert/expert_random_zooniverse_ids.txt
user_weights*
bending/
csv/
json/
plots/
subject_in_progress.txt

# TeX

*.aux
*.blg
*.log
*.dvi
*.synctex.gz
*Notes.bib
